<module>
	<rawname>resetsettings</rawname>
	<repo>standard</repo>
	<name>Reset Settings</name>
	<version>12.0.1</version>
	<publisher>James Finstrom</publisher>
	<license>GPLv2+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-2.0.txt</licenselink>
	<category>Applications</category>
	<description>Resets select advanced settings back to default to allow updates.</description>
	<changelog>
		*12.0.1* Initial Release
	</changelog>
	<supported>
		<version>12.0</version>
	</supported>
</module>
